{% extends 'base.html' %}

{% block content %}

<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form action="{{ request.url_for('recovery') }}" method="POST" class="box">
                        <div class="field">
                            <label for="" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input id="email" name="email" type="email" placeholder="example@email.com" class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <button id="form_button" type="submit" class="button is-primary mt-2">
                                Sendmail
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    {% if error %}
        <script>alert("Email/Password Incorrect!")</script>
    {% endif %}
{% endblock %}
